@import "tailwindcss";

@theme {
    --color-primary: #5349d7;
    --color-details: #7771ff;
    --color-secondary: #ffe000;
}

@font-face {
    font-family: 'Banana';
    src: url('/fonts/Banana.woff2') format('woff2');
}

@font-face {
    font-family: 'Splatch';
    src: url('/fonts/Splatch.woff2') format('woff2');
}

@font-face {
    font-family: 'tf2';
    src: url('/fonts/tf2build.woff2') format('woff2');
}

@font-face {
    font-family: 'Violet Smile';
    src: url('/fonts/Violet Smile.woff2') format('woff2');
}
html {
    scroll-behavior: smooth;
  }
