<div class="bg-primary max-w-screen mx-auto px-4 py-8 grid grid-cols-1 sm:grid-cols-3 gap-3 items-center text-3xl max-[800px]:text-xl">
  <div class="text-white text-align-left max-[800px]:text-center">
    <h1 class="font-[Splatch]">CONTACTO</h1>
    <p>
      E-mail:
      <a href="mailto:contacto@bazarparaabrazar.org" class="underline">
        contacto@bazarparaabrazar.org
      </a>
    </p>
    <p>Teléfono: (604) 3001234567</p>
  </div>
  <div class="flex justify-center">
    <img src="/LogoNegativo.svg" alt="Logo" class="h-[150px] w-auto" />
  </div>
  <div class="text-white justify-self-center">
    <h1 class="font-[Splatch] mb-3">Síguenos</h1>
    <a href="https://www.instagram.com/bazarparaabrazar/?hl=es" target="_blank" rel="noopener noreferrer">
      <img src="/images/icons/instagram.svg" alt="Instagram" class="mx-auto" />
    </a>
  </div>
</div>
